.prices-bg {
    background: #FFFFFF;
    border: 1px solid #F0EFF4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}
.price {
    padding: 10px;
    width: 595px;
    max-width: 595px;
}
.prices-head {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: #194AA2;
} 
.price-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin: 20px 0 3px 0;
}
