.slide {
  margin-bottom: 35px;
}

.slide:last-child {
  margin-bottom: 0;
}

.slide-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 273px;
      grid-template-columns: 1fr 273px;
  grid-gap: 150px;
}

.slide-item__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-bottom: 10px;
}

.slide-item__list {
  margin-bottom: 20px;
}

.slide-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.slide-header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  color: #194AA2;
}

.slide-item__uploaded {
  margin-top: 20px;
}

.slide-item__uploaded-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  direction: ltr;
  scrollbar-color: #5584AC;
  scrollbar-width: thin;
  padding-bottom: 8px;
}

.slide-item__uploaded-items::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

.slide-item__uploaded-items::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 40px;
}

.slide-item__uploaded-items::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #ECF4FF;
}

.slide-item__uploaded-item {
  width: 105.69px;
  height: 105.69px;
  min-width: 105.69px;
  min-height: 105.69px;
  background: #FAFAFC;
  border: 1px solid #F0EFF4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-transform: rotate(0.07deg);
          transform: rotate(0.07deg);
  margin-left: 5.81px;
  cursor: pointer;
  position: relative;
}

.slide-item__uploaded-delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  background-color: #0000003a;
  border-radius: 10px;
}

.slide-item__uploaded-item:hover .slide-item__uploaded-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-item__tabel {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.slide-item__tabel-head {
  background-color: #F6F4FB;
  border-radius: 10px 10px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
      grid-template-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
}

.tabel-head-name {
  padding: 15px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.tabel-head {
  padding: 15px 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.slide-item__tabel-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
      grid-template-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
}

.tabel-body {
  text-align: center;
  border-right: 1px solid #D4E6FF;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.tabel-body-name {
  padding: 0 20px;
  border-right: 1px solid #D4E6FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.slide-item__tabel-body {
  border-top: none !important;
  border: 1px solid #D4E6FF;
}

.tabel-body-top {
  padding: 6px 0;
  color: #000000;
  text-align: center;
}

.tabel-body-bottom {
  /*    border-top: 1px solid #D4E6FF;*/
  padding: 6px 0;
  color: #7EA8E2;
}

.tabel-fotter {
  border-right: 1px solid #D4E6FF;
}

.tabel-fotter:last-child {
  border-right: none;
}

.slide-item__tabel-fotter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
      grid-template-columns: 286px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 38px;
  border-bottom: 1px solid #D4E6FF;
  border-left: 1px solid #D4E6FF;
  border-right: 1px solid #D4E6FF;
  border-radius: 0px 0px 10px 10px;
}

.tabel-fotter__top {
  border-bottom: 1px solid #D4E6FF;
  padding: 24px;
  padding-top: 49px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #194AA2;
  cursor: pointer;
}

.tabel-fotter__top span {
  padding-left: 10px;
}

.tabel-fotter__bottom {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #7EA8E2;
  padding: 8px 20px;
}

.slide-item__upload-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 261px;
  height: 292px;
  background: rgba(250, 250, 252, 0.7);
  border: 1px solid rgba(240, 239, 244, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.tabel-head__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.tabel-head__delete img {
  width: 12.5px;
  height: 15px;
}

.tabel-body__input {
  display: inline;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  padding: 0 2px;
}

.slide-item__upload-blog {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-item__upload-blog:hover .slide-item__upload-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-item__upload-delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000034;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slide-item__upload-delete__icon {
  width: 30px;
  height: 30px;
}

.slide-item__upload-photo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.tabel-body__input-title {
  text-align: left;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

.template-slide__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 286px 1fr 38px;
      grid-template-columns: 286px 1fr 38px;
  border: 1px solid #D4E6FF;
  border-top: none !important;
}

.tabel-body__content-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.tabel-body__content-bottom {
  display: -ms-grid;
  display: grid;
  border-top: 1px solid #D4E6FF;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.tabel-body__content-input {
  border-right: 1px solid #D4E6FF;
}
/*# sourceMappingURL=slide.css.map */